@{
    ViewData["Title"] = "Przychodnia";
}

<h1 class="subheader center orange-text">Kontakt</h1>
<div class="row center">
    Lorem Ipsum to po prostu fikcyjny tekst branży poligraficznej i składu tekstu. Lorem Ipsum jest standardowym fikcyjnym tekstem w branży już od XVI wieku, kiedy nieznana drukarnia wzięła kambuz z czcionkami i poskładała je, by stworzyć zeszyt z wzorami czcionek. Przetrwał nie tylko pięć wieków, ale także skok w kierunku składu elektronicznego, pozostając w zasadzie niezmieniony. Został spopularyzowany w latach 60. wraz z wydaniem arkuszy Letraset zawierających fragmenty Lorem Ipsum, a ostatnio wraz z oprogramowaniem DTP, takim jak Aldus PageMaker, w tym wersjami Lorem Ipsum.
</div>
