@{
    ViewData["Title"] = "Przychodnia";
}

<div class="header-image">
    <img class="responsive-img" src="~/image/bacground1.jpg" alt="Przychodnia" />
</div>

<div class="row">
    <div class="col m9" id="GlownaLewa">
        Witajcie na stronie naszej przychodnia jak sie mascie
    </div>
    <div class="col m3 no-pad-right">
        Tutaj będą podstawowe dane o naszej przychodni
    </div>
</div>

<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Stomatologia Estetyczna</h5>

                    <p class="light">Zabiegi z zakresu stomatologii potrafią zmienić nie tylko uśmiech, ale nawet całe życie. Dzięki korekcie zębów zmienia się nie tylko wygląd, ale również nastrój moich Pacjentów, co sprawia, że są bardziej pewni siebie i częściej się uśmiechają. Wszystkie działania z zakresu stomatologii estetycznej mają za zadanie upiększyć wygląd oraz polepszyć komfort życia moich podopiecznych. Dzięki rozwojowi nowych technologii i poszerzaniu wiedzy stomatologicznej powstał szereg zabiegów z zakresu tej dziedziny.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Chirurgia Stomatologiczna</h5>

                    <p class="light">W naszej ofercie: usuwanie zębów mlecznych i stałych, nacięcie ropnia z drenażem, usuwanie ósemek, usunięcie zawiązków zębów stałych, leczenie chirurgiczne pod mikroskopem.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Protetyka</h5>

                    <p class="light">Współczesna stomatologia pozwala skutecznie odbudowywać zniszczone zęby, a także uzupełniać braki zębowe. Niewypełnione braki zębowe mogą być przyczyną powstawania nieprawidłowości zgryzowych. Dlatego tak ważna jest odpowiednia interwencja protetyczna.</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>